In [93]:
import numpy as np
import pandas as pd
import math

In [94]:
df=pd.read_excel(r"D:\datas\mlt_data1.xlsx")

In [95]:
df

   age competition type profit
0  old         yes   sw   down
1  old         no    sw   down
2  old         no    hw   down
3  mid         yes   sw   down
4  mid         yes   hw   down
5  mid         no    hw     up
6  mid         no    sw     up
7  new         yes   sw     up
8  new          no   hw     up
9  new          no   sw     up

- profit column is the target attribute - so perpform IG

IG = -((p/p+n)log base 2 (p/p+n)) - ((n/p+n)log base 2 (n/p+n))

- on other column just calculate the entropy

entropy = IG of the that segment * probability of that segment

for all the types

In [96]:
p=5
n=5
pt=10

IG_Profit = -((p/pt)*math.log2(p/pt))-((n/pt)*math.log2(n/pt))

print("The information gain : ",IG_Profit)

The information gain :  1.0

- for age

In [97]:
pd.crosstab(df['age'],df['profit'])

profit  down  up
age
mid        2   2
new        0   3
old        3   0

In [98]:
# mid column

p=2
n=2
pt=4
I_m = -((p/pt)*math.log2(p/pt))-((n/pt)*math.log2(n/pt))

print("The information gain of mid: ",I_m)

Entropy_m = I_m * (4/10)

print("The entropy of mid : ",Entropy_m)

The information gain of mid:  1.0
The entropy of mid :  0.4

In [99]:
# for new column

p = 0
n = 3
pt = 3

# Calculate Information Gain
I_n = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_n = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of new: ", I_n)

# Calculate Entropy
Entropy_n = I_n * (3/10)

print("The entropy of new : ", Entropy_n)

The information gain of new:  0
The entropy of new :  0.0

In [100]:

# for old column

p = 0
n = 3
pt = 3

# Calculate Information Gain
I_o = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_o = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of old: ", I_n)

# Calculate Entropy
Entropy_o = I_o * (3/10)

print("The entropy of old : ", Entropy_o)

The information gain of old:  0
The entropy of old :  0.0

In [101]:
print("Gain = ",1-0.4)

Gain =  0.6

- for competition column

In [102]:
pd.crosstab(df['competition'],df['profit'])

profit       down  up
competition
no              0   2
no              2   2
yes             3   1

In [103]:
# for yes column

p = 3
n = 1
pt = 4

# Calculate Information Gain
I_Y = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_Y = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of yes: ", I_Y)

# Calculate Entropy
Entropy_Y = I_Y * (4/10)

print("The entropy of yes : ", Entropy_Y)

The information gain of yes:  0.8112781244591328
The entropy of yes :  0.32451124978365314

In [104]:
# for no column

p = 3
n = 4
pt = 6

# Calculate Information Gain
I_No = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_No = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of No: ", I_No)

# Calculate Entropy
Entropy_No = I_No * (6/10)

print("The entropy of No : ", Entropy_No)

The information gain of No:  0.8899750004807708
The entropy of No :  0.5339850002884625

In [105]:
I_T = Entropy_Y+Entropy_No
I_T

0.8584962500721156

In [106]:
print("Gain = ",1-I_T)

Gain =  0.1415037499278844

- for type column

In [107]:
pd.crosstab(df['type'],df['profit'])

profit  down  up
type
hw         2   2
sw         3   3

In [108]:
# for hw column

p = 2
n = 2
pt = 4

# Calculate Information Gain
I_HW = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_HW = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of HW: ", I_HW)

# Calculate Entropy
Entropy_HW = I_HW * (4/10)

print("The entropy of No : ", Entropy_HW)

The information gain of HW:  1.0
The entropy of No :  0.4

In [109]:
# for hw column

p = 3
n = 3
pt = 6

# Calculate Information Gain
I_SW = 0  # Initialize Information Gain to 0

if p > 0 and n > 0 and pt > 0:
    I_SW = -((p/pt) * math.log2(p/pt)) - ((n/pt) * math.log2(n/pt))

print("The information gain of SW: ", I_SW)

# Calculate Entropy
Entropy_SW = I_SW * (6/10)

print("The entropy of SW : ", Entropy_SW)

The information gain of SW:  1.0
The entropy of SW :  0.6

In [110]:
I_T = Entropy_HW+Entropy_SW
I_T

1.0

In [111]:
print("Gain = ",1-I_T)

Gain =  0.0

- as we can see the gain of all three column, so the column having high value will be best column i.e Age

In [2]:
try:
  print(1)
  print(1 + "1" == 2)
  print(2)
except TypeError:
  print(3)
else:
  print(4)

1
3