In [4]:
"""
Iterating over Columns :
In order to iterate over columns, we need to create a list of dataframe columns and then iterating through that list to pull out the dataframe columns.
"""
import pandas as pd
import numpy as np
data1 = {
    "name" : ["pankaj","ravi","amanuwell","subash","gulshan"],
    "rollno" : [50,59,9,65,34],
    "marks" : [40,99,98,97,96],
    "class" : ["first","first","second","second","first"]
}
dataframe1 = pd.DataFrame(data1)
column1 = list(dataframe1)
for i in column1:
    print(dataframe1[i])

0       pankaj
1         ravi
2    amanuwell
3       subash
4      gulshan
Name: name, dtype: object
0    50
1    59
2     9
3    65
4    34
Name: rollno, dtype: int64
0    40
1    99
2    98
3    97
4    96
Name: marks, dtype: int64
0     first
1     first
2    second
3    second
4     first
Name: class, dtype: object

In [ ]:
"""
For more Details refer to Iterating over rows and columns in Pandas DataFrame

DataFrame Methods:

FUNCTION	DESCRIPTION
index()	Method returns index (row labels) of the DataFrame
insert()	Method inserts a column into a DataFrame
add()	Method returns addition of dataframe and other, element-wise (binary operator add)
sub()	Method returns subtraction of dataframe and other, element-wise (binary operator sub)
mul()	Method returns multiplication of dataframe and other, element-wise (binary operator mul)
div()	Method returns floating division of dataframe and other, element-wise (binary operator truediv)
unique()	Method extracts the unique values in the dataframe
nunique()	Method returns count of the unique values in the dataframe
value_counts()	Method counts the number of times each unique value occurs within the Series
columns()	Method returns the column labels of the DataFrame
axes()	Method returns a list representing the axes of the DataFrame
isnull()	Method creates a Boolean Series for extracting rows with null values
notnull()	Method creates a Boolean Series for extracting rows with non-null values
between()	Method extracts rows where a column value falls in between a predefined range
isin()	Method extracts rows from a DataFrame where a column value exists in a predefined collection
dtypes()	Method returns a Series with the data type of each column. The result’s index is the original DataFrame’s columns
astype()	Method converts the data types in a Series
values()	Method returns a Numpy representation of the DataFrame i.e. only the values in the DataFrame will be returned, the axes labels will be removed
sort_values()- Set1, Set2	Method sorts a data frame in Ascending or Descending order of passed Column
sort_index()	Method sorts the values in a DataFrame based on their index positions or labels instead of their values but sometimes a data frame is made out of two or more data frames and hence later index can be changed using this method
loc[]	Method retrieves rows based on index label
iloc[]	Method retrieves rows based on index position
ix[]	Method retrieves DataFrame rows based on either index label or index position. This method combines the best features of the .loc[] and .iloc[] methods
rename()	Method is called on a DataFrame to change the names of the index labels or column names
columns()	Method is an alternative attribute to change the coloumn name
drop()	Method is used to delete rows or columns from a DataFrame
pop()	Method is used to delete rows or columns from a DataFrame
sample()	Method pulls out a random sample of rows or columns from a DataFrame
nsmallest()	Method pulls out the rows with the smallest values in a column
nlargest()	Method pulls out the rows with the largest values in a column
shape()	Method returns a tuple representing the dimensionality of the DataFrame
ndim()	Method returns an ‘int’ representing the number of axes / array dimensions.
Returns 1 if Series, otherwise returns 2 if DataFrame
dropna()	Method allows the user to analyze and drop Rows/Columns with Null values in different ways
fillna()	Method manages and let the user replace NaN values with some value of their own
rank()	Values in a Series can be ranked in order with this method
query()	Method is an alternate string-based syntax for extracting a subset from a DataFrame
copy()	Method creates an independent copy of a pandas object
duplicated()	Method creates a Boolean Series and uses it to extract rows that have duplicate values
drop_duplicates()	Method is an alternative option to identifying duplicate rows and removing them through filtering
set_index()	Method sets the DataFrame index (row labels) using one or more existing columns
reset_index()	Method resets index of a Data Frame. This method sets a list of integer ranging from 0 to length of data as index
where()	Method is used to check a Data Frame for one or more condition and return the result accordingly. By default, the rows not satisfying the condition are filled with NaN value
"""

In [5]:
serial_data = pd.Series(data1)
print(serial_data)

name      [pankaj, ravi, amanuwell, subash, gulshan]
rollno                           [50, 59, 9, 65, 34]
marks                           [40, 99, 98, 97, 96]
class          [first, first, second, second, first]
dtype: object

In [7]:
import numpy as np
dataframe2 = np.array(['p','a','n','k','a','j'])
serial_data2 = pd.Series(dataframe2)
print(serial_data2)

0    p
1    a
2    n
3    k
4    a
5    j
dtype: object

In [8]:
dataframe3 = pd.read_csv(r'D:\excel_datas\day1\students - Sheet1.csv')

serial_data3 = pd.Series(dataframe3['first_name'])
limit = serial_data3.head(10)
print(limit)

0        John
1        Jane
2       Sarah
3       Frank
4        Mike
5    Jennifer
6     Jessica
7        Fred
8         Bob
9         NaN
Name: first_name, dtype: object

In [9]:
dataframe3 = np.array(['p','a','n','k','a','j'])

serial_data4 = pd.Series(dataframe3,index=[21,22,23,24,25,26])
print(serial_data4)

21    p
22    a
23    n
24    k
25    a
26    j
dtype: object

In [10]:
serial_data5 = pd.Series(np.linspace(1,11,3))
print(serial_data5)
print("-------------------------------------------------------------------------------\n")
serial_data6 = pd.Series(np.linspace(0,50,10))
print(serial_data6)

0     1.0
1     6.0
2    11.0
dtype: float64
-------------------------------------------------------------------------------

0     0.000000
1     5.555556
2    11.111111
3    16.666667
4    22.222222
5    27.777778
6    33.333333
7    38.888889
8    44.444444
9    50.000000
dtype: float64

In [11]:
serial_data7=pd.Series(range(1,40,6), index=[x for x in 'abcdefg'])
print(serial_data7)

a     1
b     7
c    13
d    19
e    25
f    31
g    37
dtype: int64

In [12]:
serial_data8=np.arange(11,16)
serobj=pd.Series(data=serial_data8*8,index=serial_data8)
print(serobj)

11     88
12     96
13    104
14    112
15    120
dtype: int32