# Decision Tree Problem

In [51]:
# loading modules
import numpy as np
import pandas as pd
import math

In [52]:
# laoding the toy dataset
df = pd.read_excel('toy_data.xlsx')

In [53]:
df

       shape   color content sick
0    clinder  orange    25cl   no
1    clinder   black    25cl   no
2      coupe   white    10cl   no
3  trapezoid   green    15cl   no
4      coupe  yellow    15cl   no
5  trapezoid  orange    15cl  yes
6      coupe  orange    15cl  yes
7      coupe  orange    10cl  yes

- sick column is the target column so
- IG = -[{(p/p+n)log base 2 (p/p+n)}+{(n/n+p)log base 2 (n/n+p)}]
- row wise IG = -[{(p/p+n)log base 2 (p/p+n)}+{(n/n+p)log base 2 (n/n+p)}] * probability of that row
- Gain  = IG - E(column)

---------
--------------

- target column

-((p/pt)*math.log2(p/pt))-((n/pt)*math.log2(n/pt))

In [54]:
target=df['sick']

In [55]:
target

0     no
1     no
2     no
3     no
4     no
5    yes
6    yes
7    yes
Name: sick, dtype: object

In [56]:
p_target=((target == 'yes')==True).sum()

In [57]:
n_target=((target == 'no')==True).sum()

In [58]:
t_target=len(target)

In [59]:
IG_target = -((p_target/t_target)*math.log2(p_target/t_target))-((n_target/t_target)*math.log2(n_target/t_target))

In [60]:
IG_target

0.954434002924965

---------
--------------

- non - target 1st

In [61]:
df

       shape   color content sick
0    clinder  orange    25cl   no
1    clinder   black    25cl   no
2      coupe   white    10cl   no
3  trapezoid   green    15cl   no
4      coupe  yellow    15cl   no
5  trapezoid  orange    15cl  yes
6      coupe  orange    15cl  yes
7      coupe  orange    10cl  yes

- for shape

In [62]:
shape=df['shape']

- clinder

In [63]:
pd.crosstab(df['shape'],df['sick'])

sick       no  yes
shape
clinder     2    0
coupe       2    2
trapezoid   1    1

In [64]:
n_clinder = 2
p_clinder = 0
t = len(shape)
try:
    IG_clinder = (-((p_clinder/t)*math.log2(p_clinder/t))-((n_clinder/t)*math.log2(n_clinder/t)))
except:
    print("Error in calculating Information Gain")
    IG_clinder = 0

E_clinder = (IG_clinder)*((n_clinder+p_clinder)/t)
E_clinder

Error in calculating Information Gain

0.0

- coupe

In [65]:
pd.crosstab(df['shape'],df['sick'])

sick       no  yes
shape
clinder     2    0
coupe       2    2
trapezoid   1    1

In [66]:
n_coupe = 2
p_coupe = 2
t = n_coupe + p_coupe
try:
    IG_coupe = (-((p_coupe/t)*math.log2(p_coupe/t))-((n_coupe/t)*math.log2(n_coupe/t)))
except:
    print("Error in calculating Information Gain")
    IG_coupe = 0

E_clinder = (IG_coupe)*((n_coupe+p_coupe)/t)
E_clinder

1.0

- trapezoid

In [67]:
n_t = 1
p_t = 1
t = len(shape)
try:
    IG_trapezoid = (-((p_t/t)*math.log2(p_t/t))-((n_t/t)*math.log2(n_t/t)))
except:
    print("Error in calculating Information Gain")
    IG_trapezoid = 0

IG_trapezoid

0.75