# Iterative Imputation / MICE - multivariate imputation by chained equations

In [81]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [82]:
df=pd.read_csv('50_Startups.csv')

In [83]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [84]:
df=df[['R&D Spend','Administration','Marketing Spend','Profit']]

In [85]:
df = np.round(df/10000)

In [86]:
np.random.seed(9)

In [87]:
df=df.sample(5)

In [88]:
df

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [89]:
df=df.iloc[:,0:-1]

In [90]:
df

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        4.0             5.0             20.0
2        15.0            10.0             41.0
14       12.0            16.0             26.0
44        2.0            15.0              3.0

In [91]:
df.iloc[1,0]=np.NaN
df.iloc[3,1]=np.NaN
df.iloc[4,2]=np.NaN    # [-1,-1]

C:\Users\panka\AppData\Local\Temp\ipykernel_7956\1011916367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1,0]=np.NaN
C:\Users\panka\AppData\Local\Temp\ipykernel_7956\1011916367.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[3,1]=np.NaN
C:\Users\panka\AppData\Local\Temp\ipykernel_7956\1011916367.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[4,2]=np.NaN    # [-1,-1]

In [92]:
df.head()

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        NaN             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [93]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend']=df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration']=df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend']=df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [94]:
# 1st/ 0th iteration
df0

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37       9.25            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [95]:
# remove the col1 imputed value

df1 = df0.copy()
df1.iloc[1,0] = np.NaN
df1

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.25            26.00
44        2.0           15.00            29.25

In [97]:
# Using 1st 3 rows to build model and use the last for prediction
X = df1.iloc[[0,2,3,4],1:3]
X

    Administration  Marketing Spend
21           15.00            30.00
2            10.00            41.00
14           11.25            26.00
44           15.00            29.25

In [102]:
y = df1.iloc[[0,2,3,4],0]
y

21     8.0
2     15.0
14    12.0
44     2.0
Name: R&D Spend, dtype: float64

In [101]:
lr = LinearRegression()
lr.fit(X,y)

LinearRegression()

In [106]:
df1.iloc[1,0]=lr.predict(df1.iloc[1,1:].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [107]:
df1

    R&D Spend  Administration  Marketing Spend
21   8.000000           15.00            30.00
37  23.141587            5.00            20.00
2   15.000000           10.00            41.00
14  12.000000           11.25            26.00
44   2.000000           15.00            29.25

In [109]:
# removing the col2 imputed value

df1.iloc[3,1] = np.NaN

In [110]:
df1

    R&D Spend  Administration  Marketing Spend
21   8.000000            15.0            30.00
37  23.141587             5.0            20.00
2   15.000000            10.0            41.00
14  12.000000             NaN            26.00
44   2.000000            15.0            29.25

In [114]:
# using last 3 rows to build a model and using the 1st for prediction

X = df1.iloc[[0,1,2,4],[0,2]]
X

    R&D Spend  Marketing Spend
21   8.000000            30.00
37  23.141587            20.00
2   15.000000            41.00
44   2.000000            29.25

In [116]:
y = df1.iloc[[0,1,2,4],1]
y

21    15.0
37     5.0
2     10.0
44    15.0
Name: Administration, dtype: float64

In [118]:
lr = LinearRegression()
lr.fit(X,y)

LinearRegression()

In [124]:
df1.iloc[3,1]=lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [125]:
df1

    R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000            30.00
37  23.141587        5.000000            20.00
2   15.000000       10.000000            41.00
14  12.000000       11.063618            26.00
44   2.000000       15.000000            29.25

In [126]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000             30.0
37  23.141587        5.000000             20.0
2   15.000000       10.000000             41.0
14  12.000000       11.063618             26.0
44   2.000000       15.000000              NaN

In [127]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

    R&D Spend  Administration
21   8.000000       15.000000
37  23.141587        5.000000
2   15.000000       10.000000
14  12.000000       11.063618

In [128]:
y = df1.iloc[0:4,-1]
y

21    30.0
37    20.0
2     41.0
14    26.0
Name: Marketing Spend, dtype: float64

In [129]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31.60184683])

In [130]:
df1.iloc[4,-1] = 31.56

In [131]:
# After 1st Iteration
df1

    R&D Spend  Administration  Marketing Spend
21   8.000000       15.000000            30.00
37  23.141587        5.000000            20.00
2   15.000000       10.000000            41.00
14  12.000000       11.063618            26.00
44   2.000000       15.000000            31.56

In [132]:
# Subtract 0th iteration from 1st iteration

df1 - df0

    R&D Spend  Administration  Marketing Spend
21   0.000000        0.000000             0.00
37  13.891587        0.000000             0.00
2    0.000000        0.000000             0.00
14   0.000000       -0.186382             0.00
44   0.000000        0.000000             2.31

In [133]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

    R&D Spend  Administration  Marketing Spend
21        8.0       15.000000            30.00
37        NaN        5.000000            20.00
2        15.0       10.000000            41.00
14       12.0       11.063618            26.00
44        2.0       15.000000            31.56

In [134]:
X = df2.iloc[[0,2,3,4],1:3]
y = df2.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([23.8036831])

In [135]:
df2.iloc[1,0] = 23.78

In [136]:
df2.iloc[3,1] = np.NaN
X = df2.iloc[[0,1,2,4],[0,2]]
y = df2.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.22020174])

In [137]:
df2.iloc[3,1] = 11.22

In [138]:
df2.iloc[4,-1] = np.NaN

X = df2.iloc[0:4,0:2]
y = df2.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38.87979054])

In [139]:
df2.iloc[4,-1] = 31.56

In [140]:
df2

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.78            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.22            26.00
44       2.00           15.00            31.56

In [141]:
df2 - df1

    R&D Spend  Administration  Marketing Spend
21   0.000000        0.000000              0.0
37   0.638413        0.000000              0.0
2    0.000000        0.000000              0.0
14   0.000000        0.156382              0.0
44   0.000000        0.000000              0.0

In [142]:
df3 = df2.copy()

df3.iloc[1,0] = np.NaN

df3

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.22            26.00
44        2.0           15.00            31.56

In [143]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24.57698058])

In [144]:
df3.iloc[1,0] = 24.57

In [147]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
df3.iloc[3,1] = lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [149]:
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
df3.iloc[4,-1] = lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

c:\Users\panka\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [150]:
df2.iloc[3,1] = 11.22

In [151]:
df3

    R&D Spend  Administration  Marketing Spend
21       8.00       15.000000         30.00000
37      24.57        5.000000         20.00000
2       15.00       10.000000         41.00000
14      12.00       11.372828         26.00000
44       2.00       15.000000         45.61617

In [152]:
df3 - df2

    R&D Spend  Administration  Marketing Spend
21       0.00        0.000000          0.00000
37       0.79        0.000000          0.00000
2        0.00        0.000000          0.00000
14       0.00        0.152828          0.00000
44       0.00        0.000000         14.05617