# MongoDB with python

# modules

In [ ]:
import pymongo

# integrating python with mongodb

In [ ]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

# creating database

In [ ]:
mydb = client['Employee']
information=mydb.employeeinformation

# inserting the record

In [6]:


record = [{
    'firstname':'pankaj',
    'course':'BTCS',
    'age':22,
    'status':'single'
},
{
    'firstname':'ravi',
    'course':'BTCS',
    'age':21,
    'status':'mingle but divorced'
},
{
    'firstname':'amanuwell',
    'course':'BTCS',
    'age':22,
    'status':'always single'
},
{
    'firstname':'subash',
    'course':'BTCS',
    'age':20,
    'status':'broken'
}
]

information.insert_many(record)

# Reading the datas

In [9]:
# finding a single file which is at index 0
information.find_one()

{'_id': ObjectId('648e9c5bd3430fb113496f9b'),
 'firstname': 'pankaj',
 'course': 'BTCS',
 'age': 22,
 'status': 'single'}

In [13]:
# selecting the whole record  -- similar like Select * from database

for reord in information.find():
    print(record)

[{'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single', '_id': ObjectId('648e9c5bd3430fb113496f9b')}, {'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced', '_id': ObjectId('648e9c5bd3430fb113496f9c')}, {'firstname': 'amanuwell', 'course': 'BTCS', 'age': 22, 'status': 'always single', '_id': ObjectId('648e9c5bd3430fb113496f9d')}, {'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken', '_id': ObjectId('648e9c5bd3430fb113496f9e')}]
[{'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single', '_id': ObjectId('648e9c5bd3430fb113496f9b')}, {'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced', '_id': ObjectId('648e9c5bd3430fb113496f9c')}, {'firstname': 'amanuwell', 'course': 'BTCS', 'age': 22, 'status': 'always single', '_id': ObjectId('648e9c5bd3430fb113496f9d')}, {'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken', '_id': ObjectId('648e9c5bd3430fb113496f9e')}]
[{'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single', '_id': ObjectId('648e9c5bd3430fb113496f9b')}, {'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced', '_id': ObjectId('648e9c5bd3430fb113496f9c')}, {'firstname': 'amanuwell', 'course': 'BTCS', 'age': 22, 'status': 'always single', '_id': ObjectId('648e9c5bd3430fb113496f9d')}, {'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken', '_id': ObjectId('648e9c5bd3430fb113496f9e')}]
[{'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single', '_id': ObjectId('648e9c5bd3430fb113496f9b')}, {'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced', '_id': ObjectId('648e9c5bd3430fb113496f9c')}, {'firstname': 'amanuwell', 'course': 'BTCS', 'age': 22, 'status': 'always single', '_id': ObjectId('648e9c5bd3430fb113496f9d')}, {'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken', '_id': ObjectId('648e9c5bd3430fb113496f9e')}]

In [14]:
# reading the record which satisfies the condition just like -- Select * from database where condition=value     or row=data
for record in information.find({'firstname':'ravi'}):
    print(record)

{'_id': ObjectId('648e9c5bd3430fb113496f9c'), 'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced'}

# Querying doucments using operator ($in,$lt,$gt)

In [19]:
# $in -- means OR operation if either the value will match, it reads the data

for record in information.find({'age': {'$in': ['22', '20']}}):
    print(record)

In [20]:
#AND operation
for record in information.find({'course':'BTCS','age':{'$lt':21}}):
    print(record)

{'_id': ObjectId('648e9c5bd3430fb113496f9e'), 'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken'}
{'_id': ObjectId('648ea4c66af123e7a6e2ad24'), 'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken'}
{'_id': ObjectId('648ea5076283eb8d30c4666e'), 'firstname': 'subash', 'course': 'BTCS', 'age': 20, 'status': 'broken'}

In [22]:
# OR operation
for record in information.find({'$or':[{'firstname':'pankaj'},{'age':21}]}):
    print(record)

{'_id': ObjectId('648e9c5bd3430fb113496f9b'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}
{'_id': ObjectId('648e9c5bd3430fb113496f9c'), 'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced'}
{'_id': ObjectId('648ea4c66af123e7a6e2ad21'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}
{'_id': ObjectId('648ea4c66af123e7a6e2ad22'), 'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced'}
{'_id': ObjectId('648ea5076283eb8d30c4666b'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}
{'_id': ObjectId('648ea5076283eb8d30c4666c'), 'firstname': 'ravi', 'course': 'BTCS', 'age': 21, 'status': 'mingle but divorced'}

In [23]:
# AND operation
for record in information.find({'$and':[{'firstname':'pankaj'},{'age':22}]}):
    print(record)

{'_id': ObjectId('648e9c5bd3430fb113496f9b'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}
{'_id': ObjectId('648ea4c66af123e7a6e2ad21'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}
{'_id': ObjectId('648ea5076283eb8d30c4666b'), 'firstname': 'pankaj', 'course': 'BTCS', 'age': 22, 'status': 'single'}

# New collection

# createing a new collection

In [24]:
inventory=mydb.inventory

In [26]:
inventory.insert_many([
{'book':'physics','quantity':25,'author':'pankaj'},
{'book':'chemistry','quantity':50,'author':'ravi'},
{'book':'maths','quantity':75,'author':'pankaj'},
{'book':'english','quantity':55,'author':'amanuwell'},
{'book':'socials','quantity':35,'author':'subash'}
]);

# find operation with nested value

In [3]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
mydb.inventory.insert_many([
    {
        "item":"journal",
        "qty":50,
        "tags":["blank","red"],
        "size":{"h":15,"w":18,"uom":"cm"}
    },
    {
        "item":"cap",
        "qty":55,
        "tags":["blank","gold"],
        "size":{"h":10,"w":11,"uom":"cm"}
    },
    {
        "item":"bedsheet",
        "qty":85,
        "tags":["blue"],
        "size":{"h":15,"w":15,"uom":"cm"}
    }
])

In [4]:
# reading
mydb.inventory.find_one()

{'_id': ObjectId('648ea9aed3430fb113496fa3'),
 'book': 'physics',
 'quantity': 25,
 'author': 'pankaj'}

In [6]:
for i in mydb.inventory.find_one({}):
    print(i)

_id
book
quantity
author

In [10]:
for i in mydb.inventory.find({}):
    print(i)

{'_id': ObjectId('648ea9aed3430fb113496fa3'), 'book': 'physics', 'quantity': 25, 'author': 'pankaj'}
{'_id': ObjectId('648ea9aed3430fb113496fa4'), 'book': 'chemistry', 'quantity': 50, 'author': 'ravi'}
{'_id': ObjectId('648ea9aed3430fb113496fa5'), 'book': 'maths', 'quantity': 75, 'author': 'pankaj'}
{'_id': ObjectId('648ea9aed3430fb113496fa6'), 'book': 'english', 'quantity': 55, 'author': 'amanuwell'}
{'_id': ObjectId('648ea9aed3430fb113496fa7'), 'book': 'socials', 'quantity': 35, 'author': 'subash'}
{'_id': ObjectId('648efaab4f84b7e836557470'), 'item': 'journal', 'qty': 50, 'tags': ['blank', 'red'], 'size': {'h': 15, 'w': 18, 'uom': 'cm'}}
{'_id': ObjectId('648efaab4f84b7e836557471'), 'item': 'cap', 'qty': 55, 'tags': ['blank', 'gold'], 'size': {'h': 10, 'w': 11, 'uom': 'cm'}}
{'_id': ObjectId('648efaab4f84b7e836557472'), 'item': 'bedsheet', 'qty': 85, 'tags': ['blue'], 'size': {'h': 15, 'w': 15, 'uom': 'cm'}}

In [15]:
mydb.inventory.insert_many(
    [
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "A",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
    ]
)

# Specify AND Conditions
A compound query can specify conditions for more than one field in the collection's documents. Implicitly, a logical AND conjunction connects the clauses of a compound query so that the query selects the documents in the collection that match all the conditions.

The following example retrieves all documents in the inventory collection where the status equals "A" and qty is less than ($lt) 30:

In [16]:
for i in mydb.inventory.find({"status":"A","qty":{"$lt":50}}):
    print(i)

{'_id': ObjectId('648f364f4f84b7e836557473'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('648f364f4f84b7e836557477'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

# OR 
Specify OR Conditions
Using the $or operator, you can specify a compound query that joins each clause with a logical OR conjunction so that the query selects the documents in the collection that match at least one condition.

In [20]:
for i in mydb.inventory.find({"$or": [{"status": "A"}, {"qty": {"$lt": 55}}]}):
    print(i)

{'_id': ObjectId('648efaab4f84b7e836557470'), 'item': 'journal', 'qty': 50, 'tags': ['blank', 'red'], 'size': {'h': 15, 'w': 18, 'uom': 'cm'}}
{'_id': ObjectId('648f364f4f84b7e836557473'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('648f364f4f84b7e836557474'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('648f364f4f84b7e836557477'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

which corresponds to the following SQL statement:

SELECT * FROM inventory WHERE status = "A" AND ( qty < 30 OR item LIKE "p%")

In [22]:
for i in mydb.inventory.find({"status": "A", "$or": [{"qty": {"$lt": 55}}, {"item": {"$regex": "^p"}}]}):
    print(i)

{'_id': ObjectId('648f364f4f84b7e836557473'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('648f364f4f84b7e836557474'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('648f364f4f84b7e836557477'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [27]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
mydb.students.insert_many([
{ "id":32,"physics":68,"chemistry":55,"maths":38},

{ "id":33,"physics":66,"chemistry":45,"maths":48},

{ "id":34,"physics":48,"chemistry":45,"maths":38},

{ "id":34,"physics":55,"chemistry":60,"maths":42}
]);

In [28]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
mydb = client['Employee']
mydb.students.insert_many([
    {"id":32,"physics":73},
    {"id":33,"physics":65}
]);

In [ ]:
mydb.students2.updateMany( {},
  [
    { $replaceRoot: { newRoot:
       { $mergeObjects: [ { quiz1: 0, quiz2: 0, test1: 0, test2: 0 }, "$$ROOT" ] }
    } },
    { $set: { modified: "$$NOW"}  }
  ]
)