# Naive Bayes Classifier Day - 3 ( CampusX )

## Using Tennis Dataset

### libraries

In [11]:
import numpy as np
import pandas as pd

### loading the datasets

In [12]:
url = 'https://raw.githubusercontent.com/codejust4U/dataset/main/play_tennis.csv'
dataset = pd.read_csv(url)

### some part of the data

In [13]:
dataset.head()
dataset.drop(columns=['day'],inplace=True)
dataset

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

### play scenario

In [14]:
dataset['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

### probability of Yes & No

In [18]:

py = 9/14
pn = 5/14
print(py,'\n',pn)

0.6428571428571429
 0.35714285714285715

### for the outlook column

In [25]:
pd.crosstab(dataset['outlook'],dataset['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [26]:
PovercastN = 0
PrainN = 2/5
PsunnyN = 3/5

PovercastY = 4/9
PrainY = 3/9
PsunnyY = 2/9

### for the temp column

In [19]:
pd.crosstab(dataset['temp'],dataset['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [20]:
PcoolN = 1/5
PhotN = 2/5
PmildN = 2/5

PcoolY = 3/9
PhotY = 2/9
PmildY = 4/9

### for humidity column

In [21]:
pd.crosstab(dataset['humidity'],dataset['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [22]:
PhighN = 4/5
PnormalN = 1/5

PhighY = 3/9
Pnormaly = 6/9

### for wind column

In [23]:
pd.crosstab(dataset['wind'],dataset['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [24]:
PstrongN = 3/5
PweakN = 2/5

PstrongY = 3/9
PweakY = 6/9

### for the outlook = sunny, temp = hot, humidity = high, wind = weak

In [27]:
Pyes = py*PsunnyY*PhotY*PhighY*PweakY
Pyes

0.007054673721340388

In [28]:
Pno = pn*PsunnyN*PhotN*PhighN*PweakN
Pno

0.02742857142857143

### for the prediction of playing or not?

In [31]:
print("Outlook = sunny, temp = hot, humidity = high, wind = weak")
if Pyes>Pno:
    print("Play = Yes")
else:
    print("Play =  No")

Outlook = sunny, temp = hot, humidity = high, wind = weak
Play =  No