In [1]:
import pandas as pd

data1 = pd.read_csv(r'D:\excel_datas\day4\nba.csv')

n=12

series1 = data1["Salary"]
bottom1 = series1.tail(n=n)
bottom1

446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, dtype: float64

In [4]:
import pandas as pd
import re

data2 = pd.read_csv(r'D:\excel_datas\day4\nba.csv')
#removing null
data2.dropna(inplace=True)

#list of percentag
percentile1 = [.30,.40,.60]
include1 = ['object','float','int']

describe1 = data2.describe(percentiles=percentile1,include=include1)

print(describe1)


print("------------------------------------------------------------------")

describe2 = data2["Name"].describe()
describe2

                 Name                  Team      Number Position         Age
count             364                   364  364.000000      364  364.000000  \
unique            364                    30         NaN        5         NaN
top     Avery Bradley  New Orleans Pelicans         NaN       SG         NaN
freq                1                    16         NaN       87         NaN
mean              NaN                   NaN   16.829670      NaN   26.615385
std               NaN                   NaN   14.994162      NaN    4.233591
min               NaN                   NaN    0.000000      NaN   19.000000
30%               NaN                   NaN    6.900000      NaN   24.000000
40%               NaN                   NaN    9.000000      NaN   25.000000
50%               NaN                   NaN   12.000000      NaN   26.000000
60%               NaN                   NaN   17.000000      NaN   27.000000
max               NaN                   NaN   99.000000      NaN   40.000000

       Height      Weight   College        Salary
count     364  364.000000       364  3.640000e+02
unique     17         NaN       115           NaN
top       6-9         NaN  Kentucky           NaN
freq       49         NaN        22           NaN
mean      NaN  219.785714       NaN  4.620311e+06
std       NaN   24.793099       NaN  5.119716e+06
min       NaN  161.000000       NaN  5.572200e+04
30%       NaN  205.000000       NaN  1.146836e+06
40%       NaN  212.000000       NaN  1.638754e+06
50%       NaN  220.000000       NaN  2.515440e+06
60%       NaN  228.000000       NaN  3.429934e+06
max       NaN  279.000000       NaN  2.287500e+07
------------------------------------------------------------------

count               364
unique              364
top       Avery Bradley
freq                  1
Name: Name, dtype: object