# Probability Day 2

In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

# Load the data into train and test DataFrames
train = pd.read_csv(r'D:\copy of htdocs\practice\Python\200days\Day156 Statistics_day9\train.csv')
test = pd.read_csv(r'D:\copy of htdocs\practice\Python\200days\Day156 Statistics_day9\test.csv')

# Concatenate the train and test DataFrames to create a new DataFrame 'df'
df = pd.concat([train, test]).sample(1309)

In [9]:
pd.crosstab(df['Survived'],df['Pclass'])

Pclass      1   2    3
Survived
0.0        80  97  372
1.0       136  87  119

### joint probability

In [10]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='all')

Pclass           1         2         3
Survived
0.0       0.089787  0.108866  0.417508
1.0       0.152637  0.097643  0.133558

### Marginal Probability Distribution

In [11]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='all',margins=True)

Pclass           1         2         3       All
Survived
0.0       0.089787  0.108866  0.417508  0.616162
1.0       0.152637  0.097643  0.133558  0.383838
All       0.242424  0.206510  0.551066  1.000000

### Conditional Probability

P(Y=0,X=3)

In [12]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='columns')

Pclass          1         2         3
Survived
0.0       0.37037  0.527174  0.757637
1.0       0.62963  0.472826  0.242363

P(X=3,Y=0)

In [13]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='index')

Pclass           1         2         3
Survived
0.0       0.145719  0.176685  0.677596
1.0       0.397661  0.254386  0.347953